body, html {
	font-family: 'OpenSans';
}
.reveal section {
	text-align: left;
}
.reveal section.center {
	text-align: center;
}
.reveal section img {
	display: block;
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
.reveal ul + img,
.reveal p + img {
	margin-top: 20px;
}
.reveal section:first-child,
.reveal section:last-child,
.reveal section#connect {
	text-align: center;
}
.reveal section:first-child img,
.reveal section:last-child img {
	margin: 0 auto;
}
.reveal section:last-child img {
	background: #fff;
	padding: 10px;
}
.reveal section:last-child p {
	font-size: 0.6em;
	font-weight: 100;
}
.reveal h1 {
	font-size: 5rem;
}
.reveal h2 {
	font-size: 3rem;
	font-weight: 700;
}
.reveal h3 {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 20px;
}
.reveal ul,
.reveal ol,
.reveal p {
	display: block;
	font-size: 1.5rem;
	line-height: 2.8rem;
}
.reveal section:first-child p {
	font-size: 1.8rem;
	line-height: 3rem;
}
.reveal time {
	display: block;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 100;
	margin-top: 20px;
}
.reveal .super {
	font-weight: 100;
	font-size: .8em;
	vertical-align: super;
}
.reveal .secondary-image {
	position: absolute;
	top: 0;
	right: 0;
}
.reveal .secondary-image.smaller {
	max-width: 200px;
}
.reveal .secondary-image + ul,
.reveal .secondary-image + ol,
.reveal .secondary-image + p {
	padding-right: 200px;
}
.reveal .sub-heading {
	margin-bottom: 20px;
}
.reveal .sub-heading a,
.reveal .sub-heading time {
	font-size: 1.3rem;
}
.reveal section#connect p {
	margin-top: 40px;
}
.reveal section#connect .icon {
	line-height: 50px;
	padding-left: 80px;
}
.reveal section#connect .icon:after {
	position: absolute;
	left: 0;
	top: -15px;
	display: block;
	content: ' ';
	width: 60px;
	height: 60px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 3px;
	background-size: 54px;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 3px;
}
.reveal section#connect .github:after {
	background-image: url('../images/github.svg');
}
.reveal section#connect .telegram:after {
	background-image: url('../images/telegram.svg');
}
